@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#navg{
    background-color: rgb(219, 80, 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    & h1{
        color: white;
        font-size: 30px;
    }

    & #voltar{
        text-decoration: none;
        color: white;
        cursor: pointer;

    }
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 89.5vh;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 500px;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
    margin-bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(57, 57, 61, 0.2);
    background-color: rgb(56, 56, 56);
    color: white;

    & button{
        padding: 10px;
        width: 100px;
        color: black;
        background-color: white;
        border: none;
        border-radius: 10px;     
        cursor: pointer;   
        
    }
    button:hover{
        background-color: rgb(219, 80, 80);
        color: white;
        
    }

    & input{
        border: none;
        border-radius: 5px;
        font-size: 12px;
        height: 20px;
        padding: 6px;
    }

    & h1{
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;

    }
}

#caixaButton{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

footer{
    text-align: center;
    color: white;
    background-color: rgb(219, 80, 80);
}